section {
  background-color: lightgoldenrodyellow;
  width: 15rem;
  max-height: 91vh;
}

div {
  background-color: yellow;
}

a {
  text-decoration: none;
  background-color: violet;
  color: black;
}

a:hover {
  color: chartreuse;
}

img {
  max-width: 50px;
}
