<section class="d-flex flex-column h-100 px-3">
  <div class="p-1 d-flex justify-content-center align-items-center">
    <a class="m-1 d-flex flex-column align-items-center" href="#">
      <img src="http://placebeard.it/145" alt="" />
      <p class="m-0">Meu perfil</p>
    </a>
    <a class="m-1 d-flex flex-column align-self-center" href="#">
      <span class="text-center material-symbols-outlined"> swap_horiz </span>
      <p class="m-0">Trocar</p>
    </a>
  </div>
  <ul class="nav nav-pills d-flex flex-column flex-grow-1 mx-1 my-3 gap-1">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Página inicial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Buscar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Explorar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mensagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Notificações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Criar</a>
    </li>
    <li class="nav-item mt-auto">
      <a class="nav-link" href="#">Mais</a>
    </li>
  </ul>
</section>
