<section class="d-flex">
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/160" alt="" />
    </a>
  </div>
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/150" alt="" />
    </a>
  </div>
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/140" alt="" />
    </a>
  </div>
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/130" alt="" />
    </a>
  </div>
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/120" alt="" />
    </a>
  </div>
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/110" alt="" />
    </a>
  </div>
  <div class="circulo-usuario p-1">
    <a href="#">
      <img class="imagem-perfil m-1" src="http://placebeard.it/100" alt="" />
    </a>
  </div>
</section>
